.card {
  background-color: lightgray;
  border-radius: 16px;
  padding: 12px;
  position: relative;
  width: 216px;
  min-width: 216px;

  &:hover > .x-button {
    visibility: visible;
  }
}

.grabber {
  width: 100%;
  margin-bottom: 4px;

  display: flex;
  justify-content: center;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.x-button {
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: -8px;
  top: -8px;
  visibility: hidden;
  width: 32px;
}

.step-name {
  margin-bottom: 4px;
}

.probability-of-success {
  margin-bottom: 4px;

  .probability-input {
    width: 48px;
  }
}

.time-to-completion {
  max-width: 100%;

  input {
    width: 100%;
  }

  .min-max-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

.mean-stdev-picker {
  display: flex;
  align-items: center;

  .input {
    width: 48px;
    margin-right: 4px;
  }
}
