.card {
  background-color: lightgray;
  border-radius: 16px;
  padding: 16px;
  position: relative;
  width: 260px;

  &:hover > .x-button {
    visibility: visible;
  }
}

.x-button {
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: -8px;
  top: -8px;
  visibility: hidden;
  width: 32px;
}

.step-name {
  margin-bottom: 4px;
}

.probability-of-success {
  margin-bottom: 4px;

  .probability-input {
    width: 48px;
  }
}

.time-to-completion {
  max-width: 100%;

  input {
    width: 100%;
  }

  .min-max-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
}

.bound {
  display: flex;
  flex-direction: column;

  .number {
    width: 64px;
  }
}
