.gap-container {
  align-self: stretch;

  min-width: 16px;

  &:hover {
    min-width: fit-content;

    & > .gap {
      visibility: visible;
      width: 100px;
    }
  }
}

.gap {
  box-sizing: border-box;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  width: 0;
  height: 100%;
  margin: 0 4px;

  border: 2px lightgray dashed;
  border-radius: 16px;

  transition-duration: 50ms;
  transition-property: "width";

  .svg {
    height: 64px;
    color: lightgray;
    width: 64px;
  }
}
